leo.christiansmithmantas.com {
  encode gzip zstd

  @ws path /ws*
  handle @ws {
    uri strip_prefix /ws
    reverse_proxy backend:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
